---
// import { Icon } from 'astro-icon/components'
// import Button from '~/components/ui/Button.astro'
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
// import type { Pricing as Props } from '~/types'
import PricingCard from './PricingInteractive';

const {
  title = '',
  subtitle = '',
  tagline = '',

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
  dataAos = 'fade-up',
} = Astro.props;

const plans = [
  {
    id: 'basic',
    name: '2 inmuebles / mes',
    monthlyPrice: 39,
    yearlyPrice: 32,
  },
  {
    id: 'pro',
    name: '10 inmuebles / mes',
    monthlyPrice: 79,
    yearlyPrice: 65,
  },
  {
    id: 'business',
    name: '50 inmuebles / mes',
    monthlyPrice: 149,
    yearlyPrice: 125,
  },
  {
    id: 'enterprise',
    name: '100 inmuebles / mes',
    monthlyPrice: 299,
    yearlyPrice: 250,
  },
  {
    id: 'custom',
    name: '100+ inmuebles / mes',
    monthlyPrice: 'Personalizado',
    yearlyPrice: 'Personalizado',
  },
];

// const defaultPlanId = plans[0].id

const currency = {
  symbol: '€',
  position: 'right' as 'right' | 'left',
};

const features = [
  'Gestión de Reservas Automática',
  'Información Centralizada de Clientes',
  'Optimización de Rutas',
  'Recordatorios Automáticos',
  'Integración con Idealista',
  'Panel de Control Intuitivo',
  'Análisis de Rendimiento',
  'Personalización de Horarios',
  'Gestión Multi-Propiedades',
];
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-8xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline
    dataAos={dataAos}
    title={title}
    subtitle={subtitle}
    tagline={tagline}
    classes={{
      container: 'mb-3 md:mb-3',
    }}
  />

  <div class="flex items-stretch justify-center" data-aos={dataAos}>
    <PricingCard client:load={true} plans={plans} currency={currency} features={features} />
  </div>
</WidgetWrapper>
